html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --logo-black-cl: #000000;

  --main-bg-cl: #ffffff;
  --alt-bg-cl: #f5f4fa;
  --dark-bg-text-cl: #ffffff;
  --hero-footer-bg-cl: #2f303a;

  --main-font: 'Roboto', sans-serif;
  --alt-font: 'Raleway', sans-serif;

  --works-card-gap: 30px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

img {
  display: block;
  max-width: 100%;
}

/* Unility classes */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.address {
  font-style: inherit;
}

/* Logo */

.logo {
  margin-right: 93px;
  font-family: var(--alt-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-black-cl);
}

.logo-accent {
  color: var(--accent-cl);
}

.logo:hover,
.logo:focus {
  color: var(--logo-black-cl);
}

.logo-footer,
.logo-footer:hover,
.logo-footer:focus {
  color: var(--dark-bg-text-cl);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Titles */

.title {
  color: var(--title-cl);
}

.page-title {
  display: block;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-bg-text-cl);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.advantages-title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

/* Header and navigation */

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: inline-flex;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-cl);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* Alt method */
/* .site-nav .item + .item {
  margin-left: 50px;
} */

.site-nav-contacts {
  margin-left: auto;
  display: flex;
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.1;
}

.site-nav-contacts .item + .item {
  margin-left: 50px;
}

.site-nav .link.current {
  color: var(--accent-cl);
}

.site-nav .link {
  display: block;
  padding: 32px 0;
}

/* Hero section */

.hero-section {
  /* height: 600px; */
  background-color: var(--hero-footer-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-button {
  /* margin-top: 30px; */
  width: 200px;
  height: 50px;
  padding: 0;

  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--accent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--dark-bg-text-cl);
}

.hero-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-cl);
}

/* Advantages section */

.advantages-list {
  display: flex;
}

.advantages-list .item {
  flex-basis: calc(100% / 4 - 30px);
}

.advantages-list .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  margin-bottom: 10px;
}

/* What we do section */

.what-we-do-title {
  margin-bottom: 50px;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-list .item:not(:last-child) {
  margin-right: 30px;
}

/* Team */

.team-section {
  background-color: var(--alt-bg-cl);
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list .item {
  flex-basis: calc(100% / 4 - 30px);
  text-align: center;
  background: var(--main-bg-cl);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-info {
  padding: 30px 55px;
}

.team-names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-position {
  font-size: 16px;
  line-height: 1.2;
}

/* Portfolio Page */

/* Works filter */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--works-card-gap));
  margin-top: calc(-1 * var(--works-card-gap));
}

.works .item {
  flex-basis: calc(100% / 3 - var(--works-card-gap));
  margin-left: var(--works-card-gap);
  margin-top: var(--works-card-gap);
  background: var(--main-bg-cl);
}

.works-item-info {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.works-filter {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--title-cl);
  background-color: var(--alt-bg-cl);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.works-filter:hover,
.works-filter:focus {
  background-color: var(--accent-cl);
  color: var(--dark-bg-text-cl);
}

/* Works description */

.works-desc {
  font-size: 16px;
  line-height: 1.9;
}

.works-item:hover,
.works-item:focus {
  color: var(--main-text-cl);
}

/* Works */

.works-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Visually hidden */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Footer */

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-bg-cl);
}

.footer-address-text {
  margin-bottom: 9px;
  color: var(--dark-bg-text-cl);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts .item + .item {
  margin-top: 9px;
}
